.checkout-card-component {
  & &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
      display: flex;
      border: none;
      border-radius: 60px;
    //   padding: 20px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: -0.02em;
      transition: 0.2s;
      cursor: pointer;
      height: 58px;
      img {
          max-width: 47px;
      }
    }


    .btn-primary {
      background-color: var(--primary-color);
      color: var(--on-surface);

      &[data-loading="0"] {
        .loading {
          display: none;
        }
        .text {
          display: block;
        }
      }
  
      &[data-loading="1"] {
        .loading {
          display: block;
        }
        .text {
          display: none;
        }
      }
    }
    

    .btn-primary:hover {
      background-color: var(--color-red-700);
    }

    .btn-primary:active {
      background-color: var(--color-red-900);
    }

    .btn-secondary {
      background-color: var(--on-surface);
      color: var(--color-black-100);
      border: 1px solid var(--color-black-100);
      
      &[disabled] {
        cursor: not-allowed;
      }
    }

    .btn-secondary:hover {
      color: var(--color-black-200);
      border-color: var(--color-black-200);
    }

    .btn-secondary:active {
      color: var(--color-black-300);
      border-color: var(--color-black-300);
    }

  }
}
